body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  background: #131921;
  color: white;
  padding: 10px 20px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  margin-right: 20px;
}

.search-box-container {
  display: flex;
  flex: 1;
  max-width: 650px;
  margin-left: 300px;
}

.search-box {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
  font-size: 14px;
}

.search-btn {
  background: #febd69;
  border: none;
  padding: 8px 14px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-weight: bold;
  margin-left: 80px;
}

.search-btn:hover {
  background: #f3a847;
}

.cart {
  margin-left: 380px;
  font-size: 16px;
}


.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 160px;
  background: #f2f2f2;
  height: 100%;
  padding: 15px;
  border-right: 1px solid #ccc;
}

.sidebar h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.sidebar ul {
  padding: 0;
  list-style: none;
}

.sidebar ul li {
  padding: 8px 0;
  cursor: pointer;
  color: rgb(5, 5, 193);
}

.content {
  margin-left: 180px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 6px;
  text-align: center;
}

.product-card p {
  color: red;
  font-weight: bold;
  margin: 6px 0;
}

button {
  background: #f0c14b;
  border: 1px solid #a88734;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}
