#photo{
    /* border-radius: 50%; */
    width: 200px;
    height: 200px;
    border: 5px solid #555;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    display: block;
}
