
body{
        background-color: blueviolet;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page {
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-page h3 {
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}

.login-page input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login-page button{
    width : 100%;
    padding: 10px;
    border-radius: 1px;
    border: none;
    background-color: blue;
    color: white;
}
.login-page button:hover {
    background-color: darkblue;
    cursor: pointer;
}

