h1{
    text-align:left
}

.dashboard{
    width: 100%;
    height: 500px;
    background-color: lightgrey;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: darkslategray;
}

.card{
    width: 200px;
    height: 150px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 3px grey;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: darkslategray;
}
.card h3{
    text-align: center;
}

