*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 20px;
    background-color: lightblue;
}

h2{
    text-align: center;
    color: darkblue;
}
h1{
    text-align: center;
    color: black;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.card{
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    background-color: white;
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    width: 10%;
    height: 200px;
    border: hidden;
    
}

.card:hover{
    box-shadow: 0 4px 8px #061def33;
    transform: scale(1.05);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card h1{
    margin-top: 5px;
}
.card p{
    margin-top: 10px;
    font-size: 18px;
    /* color: gray; */
}
