 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #FFE4C4;
    font-family: sans-serif;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .blog-card {
    min-width: 500px; 
    max-width: 256px; 
    min-height: 128px; 
    border-radius: 10px; 
    margin-bottom: 16px; 
    background-color: rgb(255, 250, 250);
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .card-img {
    width: 100%;
    height: 100%;
  }

  .card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .card-content {
    padding-left: 16px;
    padding-right: 16px; 
    padding-bottom: 16px ;
    padding-top: 0;
  }

  .card-body {
    margin-bottom: 16px;
  }

  .card-body h3 {
    font-size: 12px; 
    text-transform: uppercase;
    opacity: 0.5;
    margin-bottom: 24px;
    font-weight: 600;
  }

  .card-body h1 {
    font-size: 21px; 
    margin-bottom: 24px; 
    font-weight: 700;
    line-height: 1.3;
  }

  .card-body p {
    opacity: 0.6;
    font-size: 14.4px; 
    line-height: 1.5;
    margin-bottom: 0.75rem;
  }

  .card-body a {
    text-decoration: none;
    color: rgb(109, 109, 235);
  }

  .card-body a:visited {
    color: rgb(109, 109, 235);
  }

  .card-footer {
    font-size: 12.8px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

/* Blog Card 
● Should have a minimum width of 128px 
● Maximum width of 256px 
● Minimum height of 128px 
● Border radius 10px on each side of the card 
● Bottom margin of 16px 
● Background color is rgb(255, 250, 250) 
Card Image 
● The height and width of the image should be 100% 
● The image should keep its aspect ratio and fill in the given dimension. 
● The top left and right radius should be 10px. 
Card Content 
● Padding on left, right and bottom should be 16px. 
● Padding on top should be 0px. 
Card Body 
● Overline is h2 of size 12px, always uppercase and opacity 50% 
● Heading is h1 with size 21px. Bottom margin is 24px 
● Paragraph text is of opacity 60% and font size is 14.4px 
Author Link 
● Should have no underline on it, but should be a link. 
● The default and visited link color should be rgb(109, 109, 235) 
Card Footer 
● Should have font-size of 12.8px. 
● Align-items to the center and justify-content as space between.  */