* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: #EEF2F6;
   font-family: Arial, Helvetica, sans-serif;  
   display:flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.profile-card{
    width: 380px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;

}

.profile-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #0078FF;
  object-fit: cover;
  margin-bottom: 15px;
}

h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #222;
}

.role{
    font-weight: 14px;
    color: #666;
    margin-top: 15px;
    margin-bottom: 15px;
}

.about{
    font-size: 14px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 25px;
}

.skills{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}

.skill{
    background: #E8F1FF;
    border: 1px solid #0078FF;
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: 600;
    text-transform: uppercase;
    color: #0078FF;
}
.skill:hover{
    background: #0078FF;
    color: #ffffff;
}

.btn{
    background-color: #0078FF;
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover{
    background: #005FCC;
}