body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2{
    text-align: center;
    font-family: sans-serif;
}

.box{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid #fff;
    background-color:#f0f0f0;
    margin: 15px;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
    text-align: center;
}

p{
    text-align: center;
    color: black;
    margin-top: 20px;   
}

#add{
    text-align: center;
    margin: 20px auto;
    padding: 8px 16px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#inc{
    text-align: center;
    margin: 20px auto;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 16px;
}