body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box{
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #fff;
    margin: 10px;
    width: 300px;
    height: 300px;
    display: inline-block;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    border-radius: 5px;
}

#count{
    font-size: 48px;
    font-weight: bold;
}

#inc{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: blueviolet;
    border-radius: 5px;
    color:#fff;
}

#dec{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-left: 15px;
    
}

#reset{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    color: #666;
    border-radius: 5px;
    margin-left: 15px;
}