* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.5);
}

.chat-app {
  height: 100vh;
  width: 100%;
  display: flex;
  background: linear-gradient(135deg, #1f2937, #111827);
  background: transparent;  
  color: #fff;
}

.sidebar {
  width: 260px;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.05);
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.profile {
  text-align: center;
}

.image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin: 0 auto 15px auto;
}
.profile h3 {
  font-weight: 600;
  letter-spacing: 1px;
}

.contacts {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact {
  padding: 12px 15px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  cursor: pointer;
}

.contact:hover,
.contact.active {
  background: rgba(255, 255, 255, 0.2);
}

/* CHAT WINDOW */
.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
}

/* CHAT HEADER */
.chat-header {
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.chat-header h2 {
  font-size: 1.3rem;
  font-weight: 600;
  display: inline-block;
  margin-right: 1050px;
}

.video-chat, .voice-chat {
  display: inline-block;
  margin-right: 0 ;
  font-size: 1.2rem;
  cursor: pointer;
  opacity: 0.8;
  margin-left: 15px;
  font-size: 27px;
}

.status {
  font-size: 0.85rem;
  opacity: 0.8;
}

/* MESSAGES AREA */
.messages {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
}

.message {
  padding: 12px 16px;
  border-radius: 14px;
  max-width: 60%;
  font-size: 0.95rem;
}

.incoming {
  align-self: flex-start;
  background: rgba(255, 255, 255, 0.85);
  color: #111;
}

.outgoing {
  align-self: flex-end;
  background: linear-gradient(135deg, #3b82f6, #06b6d4);
  color: white;
  box-shadow: 0 4px 10px rgba(59,130,246,0.3);
}

.chat-input {
  display: flex;
  padding: 15px;
  gap: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.chat-input input {
  flex: 1;
  padding: 12px 16px;
  border-radius: 20px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: #111;
  outline: none;
}

.chat-input button {
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  background: #3b82f6;
  color: #fff;
  transition: 0.3s;
}

.chat-input button:hover {
  background: #2563eb;
}
